<Data>
  <Port>8898</Port>
  <serialport>COM1</serialport>
  <localfilefoler>F:\Project\2015项目\2015巴展Hall1多媒体导播系统_曾宏\filefolder</localfilefoler>
  <voteurl>http://54.201.247.212/hwsm/client/topic_service</voteurl>
  <AssetFolder>F:\Project\2015项目\2015巴展Hall1多媒体导播系统_曾宏\filefolder</AssetFolder>
  <pc1>
    <pc1path>F:\Project\2014巴展品牌Hall1多媒体导播系统\Client\Player\Player\bin\Debug\filefolder</pc1path>
    <groupcount>2</groupcount>
    <s1>
      <input>01</input>
      <output>01</output>
      <showedinput>01</showedinput>
    </s1>
    <s2>
      <input>02</input>
      <output>02</output>
      <showedinput>02</showedinput>
    </s2>
    <s3>
      <input>03</input>
      <output>03</output>
      <showedinput>03</showedinput>
    </s3>
    <s4>
      <input>04</input>
      <output>04</output>
      <showedinput>04</showedinput>
    </s4>
    <s5>
      <input>05</input>
      <output>05</output>
      <showedinput>05</showedinput>
    </s5>
    <s6>
      <input>06</input>
      <output>06</output>
      <showedinput>06</showedinput>
    </s6>
  </pc1>
  <pc2>
    <groupcount>3</groupcount>
    <s1>
      <input>09</input>
      <output>09</output>
      <showedinput>09</showedinput>
    </s1>
    <s2>
      <input>10</input>
      <output>10</output>
      <showedinput>10</showedinput>
    </s2>
    <s3>
      <input>11</input>
      <output>11</output>
      <showedinput>11</showedinput>
    </s3>
    <s4>
      <input>12</input>
      <output>12</output>
      <showedinput>12</showedinput>
    </s4>
    <s5>
      <input>13</input>
      <output>13</output>
      <showedinput>13</showedinput>
    </s5>
    <s6>
      <input>14</input>
      <output>14</output>
      <showedinput>14</showedinput>
    </s6>
  </pc2>
  <pc3>
    <groupcount>0</groupcount>
  </pc3>
  <pc4>
    <groupcount>0</groupcount>
  </pc4>
  <pc0>
    <groupcount>0</groupcount>
    <group1path>F:\Project\2014巴展品牌Hall1多媒体导播系统\Client\Player\Player\bin\Debug\filefolder</group1path>
    <s1>
      <input>24</input>
      <output>24</output>
      <showedinput>01</showedinput>
    </s1>
    <s2>
      <input>25</input>
      <output>25</output>
      <showedinput>02</showedinput>
    </s2>
  </pc0>
  <free>pc1,pc2</free>
</Data>